body {
  color: #cccccc;
  background: rgb(53, 72, 89);
  background: linear-gradient(
    90deg,
    rgb(33, 45, 56) 0%,
    rgb(49, 78, 100) 35%,
    rgb(96, 157, 170) 100%
  );
}

h1 {
  color: white;
  margin-bottom: 0;
  font-size: 30px;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding-left: 0;
}

#description {
  text-transform: capitalize;
}

#search-form {
  margin-bottom: 20px;
}

#temperature {
  color: white;
}

.credits {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: black;
}

.credits a {
  color: black;
}

.current-weather {
  padding-left: 10px;
}

.humidity,
.wind,
.last-updated {
  color: white;
  font-weight: 600;
}

.temperatures {
  position: relative;
  top: 12px;
}
.temp-integer {
  font-size: 56px;
  font-weight: 500;
}
.weather-app-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.weather-app {
  margin: 0px auto;
  margin-top: 10%;
  max-width: 600px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #cccccc;
}

.weather-forecast {
  margin: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
