body {
  background-color: #cfbfa2;
}

.weather-app {
  margin: 10% auto;
  max-width: 600px;
}

.weather-app-content {
  border-radius: 8px;
  background-color: aliceblue;
  padding: 20px;
}

.inputCity {
  border: none;
  padding: 10px;
  background-color: white;
}

.submitButton {
  border: none;
  background-color: #0e70c0;
  padding: 10px;
  color: #fff;
}

.submitButton:active {
  background-color: rgba(7, 18, 56, 0.5);
}
